::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9c9c70;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9c9c9cab;
}

* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    user-zoom: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--ghost_white);
}

main {
    flex-grow: 1;
}

header,
footer {
    flex-grow: 0;
    flex-shrink: 0;
}

button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.1s;
    color: inherit;
    font-size: inherit;
}
