.wrapper {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 1px;
}

.calculator {
    box-shadow: 8px 8px 10px 1px #bebebe86;
    background-color: var(--spanish_blue);
    padding: 10px;
    width: 350px;
    max-width: 95%;
}

@media only screen and (max-width: 499px) {
    .calculator {
        box-shadow: none;
    }   
}

.output-cntnr {
    width: 100%;
}

.output-cntnr input {
    width: 100%;
    background-color: none;
    outline: none;
    border-radius: 0px;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btns-cntnr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 10px;
}

.btns-cntnr .indi-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    background-color: var(--white);
    padding: 5px;
    font-size: 19px;
}

.btns-cntnr .indi-btn:hover {
    background-color: #f9f9f9ee;
}
